In [15]:
import pandas as pd
import glob
train_aws = glob.glob('./TRAIN_AWS/*.csv')
train = glob.glob('./TRAIN/*.csv')
print(train_aws)
print(train)

['./TRAIN_AWS/성거.csv', './TRAIN_AWS/홍성죽도.csv', './TRAIN_AWS/예산.csv', './TRAIN_AWS/홍북.csv', './TRAIN_AWS/호도.csv', './TRAIN_AWS/서천.csv', './TRAIN_AWS/대산.csv', './TRAIN_AWS/오월드.csv', './TRAIN_AWS/장동.csv', './TRAIN_AWS/춘장대.csv', './TRAIN_AWS/유구.csv', './TRAIN_AWS/논산.csv', './TRAIN_AWS/옹도.csv', './TRAIN_AWS/북격렬비도.csv', './TRAIN_AWS/세종고운.csv', './TRAIN_AWS/청양.csv', './TRAIN_AWS/세천.csv', './TRAIN_AWS/양화.csv', './TRAIN_AWS/당진.csv', './TRAIN_AWS/계룡.csv', './TRAIN_AWS/세종연서.csv', './TRAIN_AWS/세종금남.csv', './TRAIN_AWS/공주.csv', './TRAIN_AWS/아산.csv', './TRAIN_AWS/대천항.csv', './TRAIN_AWS/태안.csv', './TRAIN_AWS/안도.csv', './TRAIN_AWS/정안.csv', './TRAIN_AWS/세종전의.csv', './TRAIN_AWS/정산.csv']
['./TRAIN/이원면.csv', './TRAIN/신흥동.csv', './TRAIN/동문동.csv', './TRAIN/독곶리.csv', './TRAIN/아름동.csv', './TRAIN/문창동.csv', './TRAIN/예산군.csv', './TRAIN/모종동.csv', './TRAIN/논산.csv', './TRAIN/읍내동.csv', './TRAIN/정림동.csv', './TRAIN/노은동.csv', './TRAIN/신방동.csv', './TRAIN/공주.csv', './TRAIN/홍성읍.csv', './TRAIN/성성동.csv', './TRAIN/대천2동.csv']

In [45]:
pd.read_csv(train_aws[0]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       35064 non-null  int64
 1   일시       35064 non-null  object
 2   지점       35064 non-null  object
 3   기온(°C)   34583 non-null  float64
 4   풍향(deg)  34583 non-null  float64
 5   풍속(m/s)  34583 non-null  float64
 6   강수량(mm)  34583 non-null  float64
 7   습도(%)    34583 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 2.1+ MB

In [46]:
pd.read_csv(train[0]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      35064 non-null  int64
 1   일시      35064 non-null  object
 2   측정소     35064 non-null  object
 3   PM2.5   33869 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [19]:
test_aws = glob.glob('./TEST_AWS/*.csv')
test = glob.glob('./TEST_INPUT/*.csv')
print(test_aws)
print(test)

['./TEST_AWS/성거.csv', './TEST_AWS/홍성죽도.csv', './TEST_AWS/예산.csv', './TEST_AWS/홍북.csv', './TEST_AWS/호도.csv', './TEST_AWS/서천.csv', './TEST_AWS/대산.csv', './TEST_AWS/오월드.csv', './TEST_AWS/장동.csv', './TEST_AWS/춘장대.csv', './TEST_AWS/유구.csv', './TEST_AWS/논산.csv', './TEST_AWS/옹도.csv', './TEST_AWS/북격렬비도.csv', './TEST_AWS/세종고운.csv', './TEST_AWS/청양.csv', './TEST_AWS/세천.csv', './TEST_AWS/양화.csv', './TEST_AWS/당진.csv', './TEST_AWS/계룡.csv', './TEST_AWS/세종연서.csv', './TEST_AWS/세종금남.csv', './TEST_AWS/공주.csv', './TEST_AWS/아산.csv', './TEST_AWS/대천항.csv', './TEST_AWS/태안.csv', './TEST_AWS/안도.csv', './TEST_AWS/정안.csv', './TEST_AWS/세종전의.csv', './TEST_AWS/정산.csv']
['./TEST_INPUT/이원면.csv', './TEST_INPUT/신흥동.csv', './TEST_INPUT/동문동.csv', './TEST_INPUT/독곶리.csv', './TEST_INPUT/아름동.csv', './TEST_INPUT/문창동.csv', './TEST_INPUT/예산군.csv', './TEST_INPUT/모종동.csv', './TEST_INPUT/논산.csv', './TEST_INPUT/읍내동.csv', './TEST_INPUT/정림동.csv', './TEST_INPUT/노은동.csv', './TEST_INPUT/신방동.csv', './TEST_INPUT/공주.csv', './TEST_INPUT/홍성읍.csv', './TEST_INPUT/성성동.csv', './TEST_INPUT/대천2동.csv']

In [24]:
pd.read_csv(test_aws[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728 entries, 0 to 7727
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       7728 non-null   int64
 1   일시       7728 non-null   object
 2   지점       3120 non-null   object
 3   기온(°C)   3120 non-null   float64
 4   풍향(deg)  3120 non-null   float64
 5   풍속(m/s)  3120 non-null   float64
 6   강수량(mm)  3120 non-null   float64
 7   습도(%)    3120 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 483.1+ KB

In [44]:
submission = pd.read_csv('./answer_sample.csv')
group_sub = [i for i in submission.groupby('측정소')]
group_sub[0][1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4608 entries, 0 to 4607
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      4608 non-null   int64
 1   일시      4608 non-null   object
 2   측정소     4608 non-null   object
 3   PM2.5   0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 180.0+ KB

In [59]:
tar = pd.read_csv(test_aws[0])
tar[:5000]

      연도           일시   지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
0      4  01-01 00:00   성거  0.225908  0.051667  0.025575      0.0  0.548
1      4  01-01 01:00   성거  0.218009  0.000000  0.005115      0.0  0.570
2      4  01-01 02:00   성거  0.206951  0.000000  0.005115      0.0  0.631
3      4  01-01 03:00   성거  0.200632  0.632222  0.015345      0.0  0.675
4      4  01-01 04:00   성거  0.189573  0.000000  0.002558      0.0  0.705
...   ..          ...  ...       ...       ...       ...      ...    ...
4995   4  07-28 03:00  NaN       NaN       NaN       NaN      NaN    NaN
4996   4  07-28 04:00  NaN       NaN       NaN       NaN      NaN    NaN
4997   4  07-28 05:00  NaN       NaN       NaN       NaN      NaN    NaN
4998   4  07-28 06:00  NaN       NaN       NaN       NaN      NaN    NaN
4999   4  07-28 07:00  NaN       NaN       NaN       NaN      NaN    NaN

[5000 rows x 8 columns]

In [66]:
tar[tar['풍향(deg)'] == 0]

      연도           일시  지점    기온(°C)  풍향(deg)   풍속(m/s)   강수량(mm)  습도(%)
1      4  01-01 01:00  성거  0.218009      0.0  0.005115  0.000000  0.570
2      4  01-01 02:00  성거  0.206951      0.0  0.005115  0.000000  0.631
4      4  01-01 04:00  성거  0.189573      0.0  0.002558  0.000000  0.705
5      4  01-01 05:00  성거  0.195893      0.0  0.002558  0.000000  0.684
6      4  01-01 06:00  성거  0.200632      0.0  0.007673  0.000000  0.688
...   ..          ...  ..       ...      ...       ...       ...    ...
7685   4  11-17 05:00  성거  0.478673      0.0  0.007673  0.000000  0.511
7701   4  11-17 21:00  성거  0.589258      0.0  0.007673  0.034091  0.987
7703   4  11-17 23:00  성거  0.590837      0.0  0.007673  0.011364  0.987
7704   4  11-18 00:00  성거  0.589258      0.0  0.000000  0.000000  0.987
7705   4  11-18 01:00  성거  0.587678      0.0  0.010230  0.000000  0.987

[960 rows x 8 columns]

In [56]:
pd.read_csv(test[0])

      연도           일시  측정소  PM2.5
0      4  01-01 00:00  이원면  0.064
1      4  01-01 01:00  이원면  0.048
2      4  01-01 02:00  이원면  0.052
3      4  01-01 03:00  이원면  0.060
4      4  01-01 04:00  이원면  0.060
...   ..          ...  ...    ...
7723   4  11-18 19:00  이원면  0.012
7724   4  11-18 20:00  이원면  0.008
7725   4  11-18 21:00  이원면  0.012
7726   4  11-18 22:00  이원면  0.020
7727   4  11-18 23:00  이원면  0.036

[7728 rows x 4 columns]

In [67]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78336 entries, 0 to 78335
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      78336 non-null  int64
 1   일시      78336 non-null  object
 2   측정소     78336 non-null  object
 3   PM2.5   0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.4+ MB