In [56]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings(action='ignore') 

train_aws = glob.glob('./TRAIN_AWS/*.csv')
train = glob.glob('./TRAIN/*.csv')
print(train_aws)
print(train)

['./TRAIN_AWS\\계룡.csv', './TRAIN_AWS\\공주.csv', './TRAIN_AWS\\논산.csv', './TRAIN_AWS\\당진.csv', './TRAIN_AWS\\대산.csv', './TRAIN_AWS\\대천항.csv', './TRAIN_AWS\\북격렬비도.csv', './TRAIN_AWS\\서천.csv', './TRAIN_AWS\\성거.csv', './TRAIN_AWS\\세종고운.csv', './TRAIN_AWS\\세종금남.csv', './TRAIN_AWS\\세종연서.csv', './TRAIN_AWS\\세종전의.csv', './TRAIN_AWS\\세천.csv', './TRAIN_AWS\\아산.csv', './TRAIN_AWS\\안도.csv', './TRAIN_AWS\\양화.csv', './TRAIN_AWS\\예산.csv', './TRAIN_AWS\\오월드.csv', './TRAIN_AWS\\옹도.csv', './TRAIN_AWS\\유구.csv', './TRAIN_AWS\\장동.csv', './TRAIN_AWS\\정산.csv', './TRAIN_AWS\\정안.csv', './TRAIN_AWS\\청양.csv', './TRAIN_AWS\\춘장대.csv', './TRAIN_AWS\\태안.csv', './TRAIN_AWS\\호도.csv', './TRAIN_AWS\\홍북.csv', './TRAIN_AWS\\홍성죽도.csv']
['./TRAIN\\공주.csv', './TRAIN\\노은동.csv', './TRAIN\\논산.csv', './TRAIN\\대천2동.csv', './TRAIN\\독곶리.csv', './TRAIN\\동문동.csv', './TRAIN\\모종동.csv', './TRAIN\\문창동.csv', './TRAIN\\성성동.csv', './TRAIN\\신방동.csv', './TRAIN\\신흥동.csv', './TRAIN\\아름동.csv', './TRAIN\\예산군.csv', './TRAIN\\읍내동.csv', './TRAIN\\이원면.csv', './TRAIN\\정림동.csv', './TRAIN\\홍성읍.csv']

In [2]:
test_aws = glob.glob('./TEST_AWS/*.csv')
test = glob.glob('./TEST_INPUT/*.csv')
print(test_aws)
print(test)

['./TEST_AWS\\계룡.csv', './TEST_AWS\\공주.csv', './TEST_AWS\\논산.csv', './TEST_AWS\\당진.csv', './TEST_AWS\\대산.csv', './TEST_AWS\\대천항.csv', './TEST_AWS\\북격렬비도.csv', './TEST_AWS\\서천.csv', './TEST_AWS\\성거.csv', './TEST_AWS\\세종고운.csv', './TEST_AWS\\세종금남.csv', './TEST_AWS\\세종연서.csv', './TEST_AWS\\세종전의.csv', './TEST_AWS\\세천.csv', './TEST_AWS\\아산.csv', './TEST_AWS\\안도.csv', './TEST_AWS\\양화.csv', './TEST_AWS\\예산.csv', './TEST_AWS\\오월드.csv', './TEST_AWS\\옹도.csv', './TEST_AWS\\유구.csv', './TEST_AWS\\장동.csv', './TEST_AWS\\정산.csv', './TEST_AWS\\정안.csv', './TEST_AWS\\청양.csv', './TEST_AWS\\춘장대.csv', './TEST_AWS\\태안.csv', './TEST_AWS\\호도.csv', './TEST_AWS\\홍북.csv', './TEST_AWS\\홍성죽도.csv']
['./TEST_INPUT\\공주.csv', './TEST_INPUT\\노은동.csv', './TEST_INPUT\\논산.csv', './TEST_INPUT\\대천2동.csv', './TEST_INPUT\\독곶리.csv', './TEST_INPUT\\동문동.csv', './TEST_INPUT\\모종동.csv', './TEST_INPUT\\문창동.csv', './TEST_INPUT\\성성동.csv', './TEST_INPUT\\신방동.csv', './TEST_INPUT\\신흥동.csv', './TEST_INPUT\\아름동.csv', './TEST_INPUT\\예산군.csv', './TEST_INPUT\\읍내동.csv', './TEST_INPUT\\이원면.csv', './TEST_INPUT\\정림동.csv', './TEST_INPUT\\홍성읍.csv']

In [3]:
submission = pd.read_csv('./answer_sample.csv')
group_sub = [i for i in submission.groupby('측정소')]
group_sub[0][1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4608 entries, 0 to 4607
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      4608 non-null   int64
 1   일시      4608 non-null   object
 2   측정소     4608 non-null   object
 3   PM2.5   0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 180.0+ KB

In [5]:
dt_tbl = pd.read_csv('./distance.csv')
dt_tbl = dt_tbl.set_index('Location')

In [62]:
dt_tbl['공주'].sort_values()

Location
공주         3.714489
정안         9.658383
세종고운      15.437154
세종금남      16.665209
계룡        17.969680
정산        18.878905
세종연서      20.845763
논산        20.904779
유구        22.253599
세종전의      23.423585
오월드       33.709835
장동        35.593495
청양        37.874847
성거        38.446750
양화        40.155219
세천        42.709352
예산        42.852515
아산        45.291133
홍북        55.115218
서천        57.435736
당진        68.283388
대천항       69.481374
춘장대       70.029948
홍성죽도      75.538494
대산        95.553962
태안        95.614530
호도        95.725459
안도       115.172339
옹도       124.710527
북격렬비도    174.166826
Name: 공주, dtype: float64

In [6]:
dt_tbl.columns

Index(['공주', '노은동', '논산', '대천2동', '독곶리', '동문동', '모종동', '문창동', '성성동', '신방동',
       '신흥동', '아름동', '예산군', '읍내동', '이원면', '정림동', '홍성읍'],
      dtype='object')

In [7]:
dt_tbl[dt_tbl['공주'] < 50]

,공주,노은동,논산,대천2동,독곶리,동문동,모종동,문창동,성성동,신방동,신흥동,아름동,예산군,읍내동,이원면,정림동,홍성읍
Location,,,,,,,,,,,,,,,,,
계룡,17.969680,9.927274,19.850175,72.471221,111.877190,96.723116,48.626441,21.922192,47.970046,43.659682,25.412725,17.632847,54.245957,20.366863,117.717339,14.036672,69.852045
공주,3.714489,22.636701,25.741184,61.882066,94.239862,80.251040,29.859204,36.568193,31.695944,26.616198,19.902896,12.538026,36.349230,32.760095,101.239194,30.077581,54.496692
논산,20.904779,27.188737,2.598530,59.010553,105.487659,88.521930,51.732599,37.825272,55.865345,50.627573,39.504998,30.773293,50.430395,37.241827,109.149259,29.900422,60.972416
성거,38.446750,48.622275,60.688044,78.405279,85.557089,78.424196,17.868665,58.683347,3.716466,9.372664,29.468216,33.943966,38.531436,53.372573,97.365247,55.918158,61.039039
세종고운,15.437154,16.842566,34.038338,74.089571,102.756816,90.092044,33.577096,28.979770,29.479425,25.927413,7.929588,1.837559,45.437229,24.202925,110.928219,24.496156,65.371182
세종금남,16.665209,9.710109,30.598221,76.087177,108.304338,94.886401,40.307303,22.565397,36.646174,33.087551,12.179731,5.349854,50.568105,18.224508,115.836351,17.441605,69.353076
세종연서,20.845763,18.052980,39.027614,79.130835,105.702974,93.724384,35.231965,28.139935,28.729675,26.109895,2.670758,6.111602,48.995513,22.966800,114.433545,25.090430,69.608375
세종전의,23.423585,31.417434,45.362307,74.255511,93.739439,83.254736,22.218575,42.282202,14.769320,12.039333,13.411866,16.625883,39.112301,37.100036,103.534153,38.860015,61.209570
세천,42.709352,19.649509,46.919805,100.534193,135.383166,121.921081,66.128201,6.546405,59.060167,57.028259,31.608530,31.393796,77.682717,8.924749,142.895187,14.476697,96.017253
아산,45.291133,65.821950,62.500471,53.547176,54.174282,45.986801,17.513577,79.031674,30.735614,28.920717,52.529464,51.716140,15.094585,74.381273,65.072966,73.564904,32.178925
양화,40.155219,55.103782,25.920607,35.962368,92.438989,73.293333,60.335769,66.295750,70.269910,64.615789,63.116732,54.654601,48.551205,65.555459,92.175979,58.365923,47.349086
예산,42.852515,65.132663,56.975243,42.737235,51.861996,40.085670,22.553101,78.895002,37.433527,34.224801,54.791942,52.229599,6.920465,74.666519,60.451609,72.657158,21.896614
오월드,33.709835,10.969228,35.299885,89.809751,127.682381,113.268304,60.758127,5.193336,56.201858,53.164179,29.031883,25.625225,69.793096,7.561790,134.283777,3.443872,86.748535
유구,22.253599,45.447760,34.790740,41.726986,72.249833,57.320455,23.308888,59.460024,35.257150,29.868611,40.180803,34.916382,15.376937,55.858342,78.334908,52.518059,31.382030
장동,35.593495,13.898096,43.410387,94.497224,127.068238,114.057954,57.332780,8.501148,50.120411,48.093394,22.663418,23.004742,69.575019,4.285840,134.977192,12.487394,88.599037
정산,18.878905,40.283805,22.049932,40.888624,82.589645,65.883297,35.805426,53.868619,45.261605,39.610178,41.618357,34.159691,28.522495,51.299278,86.673633,46.188666,38.441801
정안,9.658383,29.774529,31.220634,58.752520,87.223613,73.882035,22.359287,43.494013,26.192572,20.721312,22.407816,17.356383,29.450697,39.337514,94.792383,37.389804,48.958308
청양,37.874847,60.179942,39.628668,21.976262,66.261977,48.054986,41.290699,73.853118,54.740575,49.567312,59.035081,52.595712,23.881519,71.156363,68.278416,66.193970,20.751261

In [17]:
def find_range(target,center_range):
    answer = []
    for i in dt_tbl[dt_tbl[target] < center_range].index:
        answer.append(pd.read_csv(f'./TRAIN_AWS/{i}.csv'))
    return answer

target = '공주'
tar = find_range(target,20)
tar 
# [i[i['연도'] == 3] for i in tar]

[       연도           일시  지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
 0       0  01-01 00:00  계룡  0.154818  0.410833  0.033248      0.0  0.830
 1       0  01-01 01:00  계룡  0.142180  0.148611  0.030691      0.0  0.853
 2       0  01-01 02:00  계룡  0.173776  0.203889  0.040921      0.0  0.802
 3       0  01-01 03:00  계룡  0.169036  0.330556  0.048593      0.0  0.816
 4       0  01-01 04:00  계룡  0.169036  0.000000  0.007673      0.0  0.827
 ...    ..          ...  ..       ...       ...       ...      ...    ...
 35059   3  12-31 19:00  계룡  0.265403  0.101944  0.025575      0.0  0.596
 35060   3  12-31 20:00  계룡  0.252765  0.338056  0.015345      0.0  0.594
 35061   3  12-31 21:00  계룡  0.257504  0.970556  0.040921      0.0  0.575
 35062   3  12-31 22:00  계룡  0.262243  0.908056  0.030691      0.0  0.611
 35063   3  12-31 23:00  계룡  0.257504  0.919444  0.051151      0.0  0.632

 [35064 rows x 8 columns],
        연도           일시  지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
 0       0  01-01 00:00  공주  0.173776  0.201944  0.023018      0.0  0.828
 1       0  01-01 01:00  공주  0.176935  0.168611  0.030691      0.0  0.831
 2       0  01-01 02:00  공주  0.180095  0.087222  0.033248      0.0  0.784
 3       0  01-01 03:00  공주  0.178515  0.087222  0.025575      0.0  0.745
 4       0  01-01 04:00  공주  0.164297  0.113889  0.020460      0.0  0.750
 ...    ..          ...  ..       ...       ...       ...      ...    ...
 35059   3  12-31 19:00  공주  0.287520  0.765833  0.071611      0.0  0.577
 35060   3  12-31 20:00  공주  0.281201  0.753056  0.063939      0.0  0.586
 35061   3  12-31 21:00  공주  0.260664  0.000000  0.010230      0.0  0.674
 35062   3  12-31 22:00  공주  0.262243  0.011944  0.020460      0.0  0.660
 35063   3  12-31 23:00  공주  0.255924  0.037778  0.033248      0.0  0.654

 [35064 rows x 8 columns],
        연도           일시    지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
 0       0  01-01 00:00  세종고운  0.170616  0.053333  0.017903      0.0  0.764
 1       0  01-01 01:00  세종고운  0.167457  0.099444  0.020460      0.0  0.759
 2       0  01-01 02:00  세종고운  0.162717  0.134167  0.012788      0.0  0.760
 3       0  01-01 03:00  세종고운  0.157978  0.000000  0.005115      0.0  0.747
 4       0  01-01 04:00  세종고운  0.148499  0.000000  0.007673      0.0  0.791
 ...    ..          ...   ...       ...       ...       ...      ...    ...
 35059   3  12-31 19:00  세종고운  0.285940  0.809167  0.069054      0.0  0.652
 35060   3  12-31 20:00  세종고운  0.276461  0.884722  0.033248      0.0  0.701
 35061   3  12-31 21:00  세종고운  0.265403  0.168056  0.012788      0.0  0.792
 35062   3  12-31 22:00  세종고운  0.255924  0.000000  0.005115      0.0  0.706
 35063   3  12-31 23:00  세종고운  0.243286  0.228333  0.025575      0.0  0.712

 [35064 rows x 8 columns],
        연도           일시    지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
 0       0  01-01 00:00  세종금남  0.184834  0.132500  0.046036      0.0  0.724
 1       0  01-01 01:00  세종금남  0.186414  0.074444  0.081841      0.0  0.695
 2       0  01-01 02:00  세종금남  0.181675  0.078611  0.053708      0.0  0.672
 3       0  01-01 03:00  세종금남  0.181675  0.041111  0.033248      0.0  0.654
 4       0  01-01 04:00  세종금남  0.178515  0.000000  0.010230      0.0  0.678
 ...    ..          ...   ...       ...       ...       ...      ...    ...
 35059   3  12-31 19:00  세종금남  0.287520  0.793333  0.046036      0.0  0.531
 35060   3  12-31 20:00  세종금남  0.281201  0.793333  0.033248      0.0  0.566
 35061   3  12-31 21:00  세종금남  0.281201  0.774444  0.040921      0.0  0.596
 35062   3  12-31 22:00  세종금남  0.271722  0.036111  0.038363      0.0  0.614
 35063   3  12-31 23:00  세종금남  0.249605  0.022222  0.051151      0.0  0.609

 [35064 rows x 8 columns],
        연도           일시  지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
 0       0  01-01 00:00  정산  0.102686  0.000000  0.002558      0.0  0.878
 1       0  01-01 01:00  정산  0.096367  0.000000  0.002558      0.0  0.874
 2       0  01-01 02:00  정산  0.109005  0.000000  0.010230      0.0  0.877
 3       0  01-01 03:00  정산  0.139021  0.000000  0.002558      0.0  0.887
 4       0  01-01 04:00  정산  0.139021  0.000000  0.002558      0.0  0.892
 ...    ..          ...  ..       ...       ...       ...      ...    ...
 35059   3  12-31 19:00  정산  0.296998  0.799722  0.048593      0.0  0.714
 35060   3  12-31 20:00  정산  0.284360  0.752500  0.025575      0.0  0.687
 35061   3  12-31 21:00  정산  0.282780  0.840833  0.043478      0.0  0.722
 35062   3  12-31 22:00  정산  0.281201  0.849722  0.030691      0.0  0.751
 35063   3  12-31 23:00  정산  0.278041  0.851944  0.043478      0.0  0.731

 [35064 rows x 8 columns],
        연도           일시  지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
 0       0  01-01 00:00  정안  0.134281  0.000000  0.005115      0.0  0.796
 1       0  01-01 01:00  정안  0.151659  0.000000  0.000000      0.0  0.795
 2       0  01-01 02:00  정안  0.165877  0.000000  0.002558      0.0  0.772
 3       0  01-01 03:00  정안  0.162717  0.000000  0.010230      0.0  0.746
 4       0  01-01 04:00  정안  0.139021  0.697500  0.025575      0.0  0.770
 ...    ..          ...  ..       ...       ...       ...      ...    ...
 35059   3  12-31 19:00  정안  0.282780  0.858056  0.089514      0.0  0.586
 35060   3  12-31 20:00  정안  0.274882  0.888611  0.102302      0.0  0.624
 35061   3  12-31 21:00  정안  0.266983  0.945833  0.099744      0.0  0.637
 35062   3  12-31 22:00  정안  0.257504  0.836667  0.053708      0.0  0.667
 35063   3  12-31 23:00  정안  0.244866  0.894167  0.048593      0.0  0.627

 [35064 rows x 8 columns]]

In [75]:
# import numpy as np
# ans = []
# for i in [list(i[i['기온(°C)'].isnull()].index) for i in tar]:
#     ans.extend(i)
    
# import collections

# collections.Counter(ans)

In [63]:
from catboost import CatBoostRegressor

In [ ]:
mean_col = ['기온(°C)','풍향(deg)','풍속(m/s)','습도(%)']
new_df = pd.DataFrame()
new_df['연도'] = tar[0]['연도']
new_df['일시'] = tar[0]['일시']
# new_df['지점'] = [target for _ in range(len(tar[0]))]

for idx in mean_col:
    answer = []
    for i in tar[0].index:
        tp = pd.Series([pd.NA])
        cnt = 1
        for tbl in tar:
            tp[cnt] = tbl.loc[i,idx]
            cnt += 1
        answer.append(tp.median())
    new_df[idx] = answer

new_df['월'] = new_df['일시'].str[:2].astype(int)/12.
new_df['일'] = new_df['일시'].str[3:5].astype(int)/31.
new_df['시'] = new_df['일시'].str[6:8].astype(int)/23.
new_df = new_df.drop('일시',axis=1)
label = pd.read_csv(f'./TRAIN/{target}.csv')

In [ ]:
new_df[new_df.isnull]

In [ ]:
cat = CatBoostRegressor()
cat.fit(new_df,label)

In [59]:
[i[i['연도'] == 3].info() for i in tar]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 26280 to 35063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       8784 non-null   int64
 1   일시       8784 non-null   object
 2   지점       8784 non-null   object
 3   기온(°C)   8584 non-null   float64
 4   풍향(deg)  8584 non-null   float64
 5   풍속(m/s)  8584 non-null   float64
 6   강수량(mm)  8584 non-null   float64
 7   습도(%)    8584 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 617.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 26280 to 35063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       8784 non-null   int64
 1   일시       8784 non-null   object
 2   지점       8784 non-null   object
 3   기온(°C)   8657 non-null   float64
 4   풍향(deg)  8657 non-null   float64
 5   풍속(m/s)  8657 non-null   float64
 6   강수량(mm)  8657 non-null   float64
 7   습도(%)    8657 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 617.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 26280 to 35063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       8784 non-null   int64
 1   일시       8784 non-null   object
 2   지점       8784 non-null   object
 3   기온(°C)   8715 non-null   float64
 4   풍향(deg)  8715 non-null   float64
 5   풍속(m/s)  8715 non-null   float64
 6   강수량(mm)  8715 non-null   float64
 7   습도(%)    8715 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 617.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 26280 to 35063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       8784 non-null   int64
 1   일시       8784 non-null   object
 2   지점       8784 non-null   object
 3   기온(°C)   8767 non-null   float64
 4   풍향(deg)  8767 non-null   float64
 5   풍속(m/s)  8767 non-null   float64
 6   강수량(mm)  8767 non-null   float64
 7   습도(%)    8767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 617.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 26280 to 35063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       8784 non-null   int64
 1   일시       8784 non-null   object
 2   지점       8784 non-null   object
 3   기온(°C)   8726 non-null   float64
 4   풍향(deg)  8726 non-null   float64
 5   풍속(m/s)  8726 non-null   float64
 6   강수량(mm)  8726 non-null   float64
 7   습도(%)    8726 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 617.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 26280 to 35063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       8784 non-null   int64
 1   일시       8784 non-null   object
 2   지점       8784 non-null   object
 3   기온(°C)   8638 non-null   float64
 4   풍향(deg)  8638 non-null   float64
 5   풍속(m/s)  8638 non-null   float64
 6   강수량(mm)  8638 non-null   float64
 7   습도(%)    8638 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 617.6+ KB

[None, None, None, None, None, None]

In [56]:
from catboost import CatBoostRegressor

In [51]:
tmp_data = pd.read_csv(train_aws[1])
tmp_data[tmp_data['습도(%)'].isnull()]

       연도           일시  지점  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
1162    0  02-18 10:00  공주     NaN      NaN      NaN      NaN    NaN
1163    0  02-18 11:00  공주     NaN      NaN      NaN      NaN    NaN
1164    0  02-18 12:00  공주     NaN      NaN      NaN      NaN    NaN
1165    0  02-18 13:00  공주     NaN      NaN      NaN      NaN    NaN
1166    0  02-18 14:00  공주     NaN      NaN      NaN      NaN    NaN
...    ..          ...  ..     ...      ...      ...      ...    ...
34290   3  11-29 18:00  공주     NaN      NaN      NaN      NaN    NaN
34291   3  11-29 19:00  공주     NaN      NaN      NaN      NaN    NaN
34292   3  11-29 20:00  공주     NaN      NaN      NaN      NaN    NaN
34293   3  11-29 21:00  공주     NaN      NaN      NaN      NaN    NaN
34294   3  11-29 22:00  공주     NaN      NaN      NaN      NaN    NaN

[684 rows x 8 columns]

In [51]:
tp = pd.Series([pd.NA,1,2])
tp[3] = 3
tp.median()

2.0