In [2]:
import pandas as pd

busan = pd.read_csv('./부산광역시_교통카드 현황_20220930.csv', encoding='cp949')
busan

,구분,종류,카드명,도시철도,일반버스,마을버스,동해선,경전철,데이터기준일자
0,선불교통카드,일반교통카드,하나로카드,유임,유임,유임,유임,유임,2022-09-30
1,선불교통카드,일반교통카드,마이비카드,유임,유임,유임,유임,유임,2022-09-30
2,선불교통카드,전국호환교통카드,티머니카드(서울),유임,유임,유임,유임,유임,2022-09-30
3,선불교통카드,전국호환교통카드,한페이카드(광주),유임,유임,유임,유임,안됨,2022-09-30
4,선불교통카드,전국호환교통카드,"캐시비카드(부산, 경기)",유임,유임,유임,유임,유임,2022-09-30
5,선불교통카드,전국호환교통카드,레일플러스카드(코레일),유임,유임,유임,유임,안됨,2022-09-30
6,선불교통카드,전국호환교통카드,원패스(대구),유임,유임,유임,안됨,안됨,2022-09-30
7,선불교통카드,복지 교통카드,어르신교통카드,무임,유임,유임,무임,유임,2022-09-30
8,선불교통카드,복지 교통카드,복지교통카드,무임,유임,유임,무임,무임,2022-09-30
9,선불교통카드,복지 교통카드,국가유공자교통카드,무임,무임,유임,무임,무임,2022-09-30
10,후불교통카드,신용카드,"롯데, BC, 하나, 현대, 삼성,외환, 신한, 국민, 씨티, NH",유임,유임,유임,유임(씨티제외),유임,2022-09-30
11,후불교통카드,복지 교통카드,신한카드(어르신교통카드),무임,유임,유임,무임,유임,2022-09-30
12,후불교통카드,복지 교통카드,신한카드(복지카드),무임,유임,유임,무임,무임,2022-09-30
13,후불교통카드,복지 교통카드,신한카드(국가유공자복지카드),무임,무임,유임,무임,무임,2022-09-30
14,후불교통카드,복지 교통카드,신한카드(보훈대상자복지카드),무임,무임,유임,무임,무임,2022-09-30
15,후불교통카드,복지 교통카드,롯데카드(후불어르신교통카드),무임,유임,유임,무임,유임,2022-09-30
16,후불교통카드,복지 교통카드,롯데카드(후불복지카드),무임,유임,유임,무임,무임,2022-09-30

In [3]:
dongbaek = pd.read_csv('./동백전.csv', encoding = 'cp949')
dongbaek

,순번,가맹점명,도로명,지번,위도,경도,데이터기준일자
0,1,고봉민김밥인,부산 영도구 와치로 250 (동삼동) 1층,NaN,35.075315,129.068770,2022-12-22
1,2,미사랑스킨앤바디,"부산 사하구 승학로224번길 10 ,1층(괴정동)",NaN,35.101239,128.990313,2022-12-22
2,3,피자스쿨 부산재송점,부산 해운대구 재반로 182 비둘기맨션상가 B동 가호 (재송동),NaN,35.193467,129.130557,2022-12-22
3,4,미스터피자아시아드2호점,"부산 연제구 월드컵대로 232 2층 (거제동,거벌빌등)",NaN,35.189890,129.071940,2022-12-22
4,5,성원칼국수,부산 부산진구 냉정로 220-1 (개금동),NaN,35.150897,129.023928,2022-12-22
...,...,...,...,...,...,...,...
126936,126937,행복한 정쌤 공부방,"부산 강서구 명지오션시티11로 22, 102동 203호 (명지동,명지두산위브포세이돈)",NaN,35.083390,128.896842,2022-12-22
126937,126938,행복홈케어,"부산 사하구 서포로30번길 12 207동 301호 (구평동,e편한세상아파트)",NaN,35.081755,128.985395,2022-12-22
126938,126939,현대표구사,부산 중구 중앙대로 137-1 (대창동2가),NaN,35.109934,129.037028,2022-12-22
126939,126940,현혜반점,NaN,"부산 사상구 덕포동 404-7,8",NaN,NaN,2022-12-22
126940,126941,개인택시조합 구내식당,부산 연제구 월드컵대로 399 (거제동),NaN,35.186010,129.055979,2022-12-22

In [4]:
busan_food = pd.read_csv('./busan_food.csv', encoding = 'cp949')
busan_food

,식당(ID),식당명,도로명주소,지번주소,식당위도,식당경도,식당대표전화번호,영업신고증업태명,영업인허가명,음식점소개내용
0,1086,명지횟집,부산광역시 강서구 신포길17번길 10-1,부산광역시 강서구 명지동 1-440,35.1131,128.9316,051-271-2662,한식,일반음식점,"""명지횟집""은 부산광역시 강서구에 있습니다. 지방자치단체 인증을 받은 농림축산식품부..."
1,1091,용두산식당,부산광역시 중구 대청로126번길 32-6,부산광역시 중구 동광동2가 11-37,35.1002,129.0344,051-245-9626,한식,일반음식점,"부산광역시 중구에서 맛집을 찾으신다면 ""용두산식당""을 추천합니다."
2,1092,섹션,부산광역시 사상구 사상로309번길 16,부산광역시 사상구 덕포동 419-6,35.1725,128.9825,051-302-1735,한식,일반음식점,"부산광역시 사상구에서 어디를 갈지 고민이라면! ""섹션""에 가보시는 건 어떨까요?"
3,1240,흥화반점,부산광역시 부산진구 서전로47번길 52-1,부산광역시 부산진구 전포동 637-5,35.1602,129.0649,051-809-3202,중국식,일반음식점,"부산광역시 부산진구에서 맛집을 찾으신다면 ""흥화반점""에 방문해보세요. 부전역 근처에..."
4,1266,하동집,부산광역시 서구 구덕로124번길 59-1,부산광역시 서구 토성동1가 14-3,35.0994,129.0226,051-257-3081,한식,일반음식점,"부산광역시 서구에서 식당을 찾으신다면? ""하동집""을 방문해보세요! 50년 이상의 전..."
...,...,...,...,...,...,...,...,...,...,...
50507,971714,맛나분식,부산광역시 금정구 회천로13번길 55,부산광역시 금정구 회동동 201-43,35.2252,129.1142,NaN,NaN,휴게음식점,"어디 가야 할지 고민이시라고요? 그럼 부산광역시 금정구 맛집, ""맛나분식""을 추천합니다!"
50508,971736,왕새우와 회사랑,부산광역시 해운대구 재반로112번길 5,부산광역시 해운대구 재송동 1130-15,35.1888,129.1271,NaN,NaN,일반음식점,"""왕새우와 회사랑""은 부산광역시 해운대구에 있습니다."
50509,971744,카페 클로버(cafe clover),부산광역시 수영구 광일로 13,부산광역시 수영구 광안동 492-11,35.1620,129.1127,NaN,NaN,휴게음식점,"무엇을 먹을지 고민되신다고요? 부산광역시 수영구에 계시다면 ""카페 클로버(cafe ..."
50510,971750,구름당(해운대좌동점),부산광역시 해운대구 세실로 97,부산광역시 해운대구 좌동 980-1,35.1731,129.1756,051-704-9199,NaN,휴게음식점,"부산광역시 해운대구에서 어디를 갈지 고민이라면! ""구름당(해운대좌동점)""에 가보시는..."
50511,971769,커피언니,부산광역시 금정구 금사로67번길 11,부산광역시 금정구 서동 41-4,35.2192,129.1101,NaN,NaN,휴게음식점,"부산광역시 금정구에서 맛집을 찾으신다면 ""커피언니""를 추천합니다."

In [5]:
menu_info_eng = pd.read_csv('./MENU_INFO_ENG.csv')
menu_info_eng

,메뉴(ID),메뉴명,메뉴가격,지역특산메뉴여부,지역특산메뉴명,지역특산메뉴출처(URL),지역명,식당(ID),식당명
0,1506,keun godeungeo,18000,N,NaN,NaN,Busan Jung-gu,6642,nammadamjip
1,1507,jageun godeungeo,15000,N,NaN,NaN,Busan Jung-gu,6642,nammadamjip
2,1508,Omelet Roll,10000,N,NaN,NaN,Busan Jung-gu,6642,nammadamjip
3,1509,Bowl of Rice,1000,N,NaN,NaN,Busan Jung-gu,6642,nammadamjip
4,1510,Soju,4000,N,NaN,NaN,Busan Jung-gu,6642,nammadamjip
...,...,...,...,...,...,...,...,...,...
182539,113394,Beverages,1500,N,NaN,NaN,Busan Yeonje-gu,689482,golmogan sikdang
182540,113395,Bowl of Rice,1000,N,NaN,NaN,Busan Yeonje-gu,689482,golmogan sikdang
182541,113396,Extra Serving of Noodles,1000,N,NaN,NaN,Busan Yeonje-gu,689482,golmogan sikdang
182542,113397,hongeo,10000,N,NaN,NaN,Busan Yeonje-gu,689482,golmogan sikdang
182543,113398,Boiled Meat Slices,5000,N,NaN,NaN,Busan Yeonje-gu,689482,golmogan sikdang

In [7]:
busan_info = pd.read_csv('./busan_info.csv')
busan_info

   total|gender_male|gender_female|age_twenties|age_thirties|age_forties|age_fifties|age_sixties|marriage_married|marriage_single|marriage_etc|job_management|job_professional|job_office|job_service|job_sale|job_agriculture|job_technical|job_machinery|job_manufactural|job_military|job_housewife|job_student|job_unemployed|job_etc|income_u100|income_100|income_200|income_300|income_400|income_500|season_spring|season_summer|season_autumn|season_winter|province_seoul|province_daegu|province_incheon|province_gwangju|province_daejeon|province_ulsan|province_gyeonggi|province_gangwon|province_chungbuk|province_chungnam|province_jeonbuk|province_jeonnam|province_gyeongbuk|province_gyeongnam|question_gubun|answer_cont|question_cont|answer_gubun|last_load_dttm
0   8069|12053|4862|4416|11887|5193|8237|11818|839...
1   4586|6390|3135|2249|5548|3973|6399|5030|4479|4...
2   1565|1979|1232|488|1556|2729|1532|1394|1852|10...
3   10629|13457|8354|4081|9444|10459|16749|18079|1...
4   1993|887|1106|421|557|451|370|194|1186|772|34|...
..                                                ...
68  680|5.3%|6.2%|7.7%|5.8%|5.0%|5.0%|4.3%|5.0%|7....
69  456|4.1%|3.7%|5.1%|3.4%|3.0%|3.8%|4.6%|3.4%|4....
70  383|2.7%|3.7%|2.0%|3.6%|4.1%|3.3%|3.4%|3.7%|2....
71  1971|877|1094|415|554|445|367|190|1173|763|34|...
72  527|27.7%|26.0%|25.3%|24.4%|31.5%|25.9%|27.4%|...

[73 rows x 1 columns]

In [8]:
Accommodation = pd.read_csv('./숙박업.csv', encoding = 'cp949')
Accommodation

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,한실수,양실수,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,여성종사자수,남성종사자수,다중이용업소여부,Unnamed: 44
0,1,숙박업,03_11_03_P,3250000,3250000-214-2019-00001,20190325,NaN,1,영업/정상,1,...,0.0,6.0,NaN,NaN,NaN,NaN,0.0,0.0,N,NaN
1,2,숙박업,03_11_03_P,3250000,3250000-214-2019-00002,20190902,NaN,1,영업/정상,1,...,0.0,2.0,NaN,NaN,NaN,NaN,0.0,0.0,N,NaN
2,3,숙박업,03_11_03_P,3250000,3250000-201-1974-00105,19740810,NaN,1,영업/정상,1,...,6.0,5.0,NaN,NaN,NaN,임대,NaN,NaN,N,NaN
3,4,숙박업,03_11_03_P,3250000,3250000-201-1970-00116,19700828,NaN,1,영업/정상,1,...,2.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,5,숙박업,03_11_03_P,3250000,3250000-201-2013-00002,20130501,NaN,1,영업/정상,1,...,0.0,26.0,NaN,NaN,NaN,자가,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4215,4216,숙박업,03_11_03_P,3400000,3400000-201-1994-00387,19941230,NaN,3,폐업,2,...,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4216,4217,숙박업,03_11_03_P,3400000,3400000-201-1995-00386,19951011,NaN,3,폐업,2,...,5.0,15.0,NaN,NaN,NaN,자가,NaN,NaN,N,NaN
4217,4218,숙박업,03_11_03_P,3400000,3400000-201-1984-00329,19840128,NaN,3,폐업,2,...,0.0,18.0,NaN,NaN,NaN,임대,NaN,NaN,N,NaN
4218,4219,숙박업,03_11_03_P,3400000,3400000-201-1995-00383,19950731,NaN,3,폐업,2,...,0.0,20.0,NaN,NaN,NaN,임대,0.0,0.0,N,NaN
4219,4220,숙박업,03_11_03_P,3400000,3400000-201-1994-00386,19941230,NaN,3,폐업,2,...,8.0,28.0,NaN,NaN,NaN,임대,NaN,NaN,N,NaN

In [11]:
Accommodation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4220 entries, 0 to 4219
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           4220 non-null   int64
 1   개방서비스명       4220 non-null   object
 2   개방서비스아이디     4220 non-null   object
 3   개방자치단체코드     4220 non-null   int64
 4   관리번호         4220 non-null   object
 5   인허가일자        4220 non-null   int64
 6   인허가취소일자      0 non-null      float64
 7   영업상태구분코드     4220 non-null   int64
 8   영업상태명        4220 non-null   object
 9   상세영업상태코드     4220 non-null   int64
 10  상세영업상태명      4220 non-null   object
 11  폐업일자         2245 non-null   float64
 12  휴업시작일자       0 non-null      float64
 13  휴업종료일자       0 non-null      float64
 14  재개업일자        0 non-null      float64
 15  소재지전화        3717 non-null   object
 16  소재지면적        4193 non-null   object
 17  소재지우편번호      4204 non-null   float64
 18  소재지전체주소      4219 non-null   object
 19  도로명전체주소      2956 non-null   object
 20  도로명우편번호      2797 non-null   float64
 21  사업장명         4220 non-null   object
 22  최종수정시점       4220 non-null   int64
 23  데이터갱신구분      4220 non-null   object
 24  데이터갱신일자      4220 non-null   object
 25  업태구분명        4219 non-null   object
 26  좌표정보(x)      3842 non-null   float64
 27  좌표정보(y)      3842 non-null   float64
 28  위생업태명        4219 non-null   object
 29  건물지상층수       3561 non-null   float64
 30  건물지하층수       3283 non-null   float64
 31  사용시작지상층      3464 non-null   float64
 32  사용끝지상층       3060 non-null   float64
 33  사용시작지하층      3109 non-null   float64
 34  사용끝지하층       2640 non-null   float64
 35  한실수          3663 non-null   float64
 36  양실수          3932 non-null   float64
 37  조건부허가신고사유    0 non-null      float64
 38  조건부허가시작일자    0 non-null      float64
 39  조건부허가종료일자    0 non-null      float64
 40  건물소유구분명      999 non-null    object
 41  여성종사자수       898 non-null    float64
 42  남성종사자수       898 non-null    float64
 43  다중이용업소여부     4220 non-null   object
 44  Unnamed: 44  0 non-null      float64
dtypes: float64(23), int64(6), object(16)
memory usage: 1.4+ MB

In [24]:
galmaetgil = pd.read_csv('./galmaetgil.csv')
galmaetgil

   skey|kos_id|kos_nm|kos_txt|kos_img|sub_nm|sub_txt|sub_level|last_load_dttm
0   22|1|1코스|임랑해수욕장 ~ 칠암파출소 ~ 일광해수욕장 ~ 기장군청 ~ 대변항 ...
1   23|1|1코스|임랑해수욕장 ~ 칠암파출소 ~ 일광해수욕장 ~ 기장군청 ~ 대변항 ...
2   24|2|2코스|문탠로드 ~ 동백섬 ~ 민락교 ~ 광안리해수욕장 ~ 이기대 ~ 오륙...
3   25|2|2코스|문탠로드 ~ 동백섬 ~ 민락교 ~ 광안리해수욕장 ~ 이기대 ~ 오륙...
4   26|3|3코스|오륙도 유람선선착장 ~ 부산진시장 ~ 국제시장 ~ 남항대교 ~ 태종...
5   27|3|3코스|오륙도 유람선선착장 ~ 부산진시장 ~ 국제시장 ~ 남항대교 ~ 태종...
6   28|3|3코스|오륙도 유람선선착장 ~ 부산진시장 ~ 국제시장 ~ 남항대교 ~ 태종...
7   29|4|4코스|남항대교 ~ 암남공원 입구 ~ 감천항 ~ 두송반도 ~ 몰운대 ~ 낙...
8   30|4|4코스|남항대교 ~ 암남공원 입구 ~ 감천항 ~ 두송반도 ~ 몰운대 ~ 낙...
9   31|4|4코스|남항대교 ~ 암남공원 입구 ~ 감천항 ~ 두송반도 ~ 몰운대 ~ 낙...
10  32|5|5코스|낙동강하굿둑 ~ 명지오션시티 ~ 천가교 ~ 연대봉 ~ 어음포 ~ 동...
11  33|5|5코스|낙동강하굿둑 ~ 명지오션시티 ~ 천가교 ~ 연대봉 ~ 어음포 ~ 동...
12  34|6|6코스|낙동강하굿둑 ~ 삼락생태공원 ~ 삼락IC ~ 구포역 ~ 운수사 ~ ...
13  35|6|6코스|낙동강하굿둑 ~ 삼락생태공원 ~ 삼락IC ~ 구포역 ~ 운수사 ~ ...
14  36|6|6코스|낙동강하굿둑 ~ 삼락생태공원 ~ 삼락IC ~ 구포역 ~ 운수사 ~ ...
15  37|7|7코스|성지곡수원지(어린이대공원) ~ 만덕고개 ~ 금정산성 동문 ~ 금정산...
16  38|7|7코스|성지곡수원지(어린이대공원) ~ 만덕고개 ~ 금정산성 동문 ~ 금정산...
17  39|8|8코스|상현마을 ~ 회동수원지 ~ 동천교(석대다리) ~ 과정교 ~ APEC...
18  40|8|8코스|상현마을 ~ 회동수원지 ~ 동천교(석대다리) ~ 과정교 ~ APEC...
19  41|9|9코스|상현마을 ~ 장전2교 ~ 장전마을(철마교) ~ 이곡마을 ~ 모연정 ...
20  42|9|9코스|상현마을 ~ 장전2교 ~ 장전마을(철마교) ~ 이곡마을 ~ 모연정 ...

In [18]:
galmaetgil.iloc[0]

skey|kos_id|kos_nm|kos_txt|kos_img|sub_nm|sub_txt|sub_level|last_load_dttm    22|1|1코스|임랑해수욕장 ~ 칠암파출소 ~ 일광해수욕장 ~ 기장군청 ~ 대변항 ...
Name: 0, dtype: object

In [22]:
busan_bus = pd.read_csv('./busan_bus.csv')
busan_bus

ParserError: Error tokenizing data. C error: Expected 1 fields in line 13, saw 2