In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
import numpy as np
from glob import glob

In [2]:
target = ['YL_M1_B1_W1','YR_M1_B1_W1','YL_M1_B1_W2','YR_M1_B1_W2']

In [3]:
data_path = glob('./data/*.csv')
data_path = [ './data\\data_c100.csv',
 './data\\data_c30.csv',
 './data\\data_c40.csv',
 './data\\data_c50.csv',
 './data\\data_c70.csv',
            './data\\data_s100.csv',
 './data\\data_s30.csv',
 './data\\data_s40.csv',
 './data\\data_s50.csv',
 './data\\data_s70.csv']

data_path

['./data\\data_c100.csv',
 './data\\data_c30.csv',
 './data\\data_c40.csv',
 './data\\data_c50.csv',
 './data\\data_c70.csv',
 './data\\data_s100.csv',
 './data\\data_s30.csv',
 './data\\data_s40.csv',
 './data\\data_s50.csv',
 './data\\data_s70.csv']

In [4]:
pd.read_csv('./data/answer_sample.csv')

,Distance,YL_M1_B1_W1_s30,YR_M1_B1_W1_s30,YL_M1_B1_W2_s30,YR_M1_B1_W2_s30,YL_M1_B1_W1_s40,YR_M1_B1_W1_s40,YL_M1_B1_W2_s40,YR_M1_B1_W2_s40,YL_M1_B1_W1_s50,...,YL_M1_B1_W2_c50,YR_M1_B1_W2_c50,YL_M1_B1_W1_c70,YR_M1_B1_W1_c70,YL_M1_B1_W2_c70,YR_M1_B1_W2_c70,YL_M1_B1_W1_c100,YR_M1_B1_W1_c100,YL_M1_B1_W2_c100,YR_M1_B1_W2_c100
0,2500.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2500.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2500.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2501.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2501.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,2998.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1995,2999.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,2999.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,2999.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,2999.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
pd.read_csv('./data\\lane_data_c.csv',)

       Distance  Curvature  Vertical offset  Cross level offset
0          0.00        0.0              0.0                 0.0
1          0.25        0.0              0.0                 0.0
2          0.50        0.0              0.0                 0.0
3          0.75        0.0              0.0                 0.0
4          1.00        0.0              0.0                 0.0
...         ...        ...              ...                 ...
11995   2998.75        0.0              0.0                 0.0
11996   2999.00        0.0              0.0                 0.0
11997   2999.25        0.0              0.0                 0.0
11998   2999.50        0.0              0.0                 0.0
11999   2999.75        0.0              0.0                 0.0

[12000 rows x 4 columns]

In [6]:
pd.read_csv('./data\\lane_data_s.csv',)

       Distance  Cross level  Curvature  Lateral  Vertical  Gauge
0          0.00        0.081      0.002    1.308     1.155  0.345
1          0.25        0.251      0.002    1.282     1.157  0.151
2          0.50        0.421      0.002    1.256     1.159 -0.043
3          0.75        0.416      0.002    1.297     0.858  0.033
4          1.00        0.412      0.002    1.337     0.558  0.110
...         ...          ...        ...      ...       ...    ...
11995   2998.75       -0.639     -0.002    0.295    -0.503 -0.477
11996   2999.00       -0.827     -0.002    0.299    -0.785 -0.218
11997   2999.25       -0.861     -0.001    0.116    -0.931 -0.048
11998   2999.50       -0.894      0.000   -0.068    -1.077  0.122
11999   2999.75       -0.735      0.001   -0.030    -1.090  0.134

[12000 rows x 6 columns]

In [7]:
data_path = [
 './data\\data_c30.csv',
 './data\\data_c40.csv',
 './data\\data_c50.csv',
 './data\\data_c70.csv',
 './data\\data_c100.csv']
data_c = [pd.merge(pd.read_csv('./data\\lane_data_c.csv',),pd.read_csv(i)).drop('Distance',axis=1) for i in data_path]
# tar = data_c[0]
# for i in tar.columns:
#     plt.title(i)
#     tar[i].plot()
#     plt.show()

data_path = [
 './data\\data_s30.csv',
 './data\\data_s40.csv',
 './data\\data_s50.csv',
 './data\\data_s70.csv',
 './data\\data_s100.csv']
data_s = [pd.merge(pd.read_csv('./data\\lane_data_s.csv',),pd.read_csv(i)).drop('Distance',axis=1) for i in data_path]

In [8]:
data_s = [pd.read_csv(i) for i in data_path[5:]]
# tar = data_s[0]
# for i in tar.columns:
#     plt.title(i)
#     tar[i].plot()
#     plt.show()

In [ ]:
from sklearn.metrics import mean_absolute_error
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm

c_index = ['c30','c40','c50','c70','c100']
s_index = ['s30','s40','s50','s70','s100']

answer = pd.DataFrame()

for j in tqdm(range(len(data_s))):
    tar = data_s[j]
    train = tar[:8001]
    test = tar[10001:]

    # train_x = train.iloc[:8001,:30]
    # valid_x = train.iloc[8001:,:30]
    train_x = train.iloc[:,:35]
    test_x = test.iloc[:,:35]
    for i in range(4):
        print(f'{target[i]}_{s_index[j]}')
    #     train_y = train.loc[:8000,target[i]]
    #     valid_y = train.loc[8001:,target[i]]
        train_y = train.loc[:,target[i]]

        cat = RandomForestRegressor(random_state=77) # CatBoostRegressor(random_state=77,iterations=2000,learning_rate=0.001,loss_function='MAPE',verbose=1000)
        cat.fit(train_x,train_y)
        pred = cat.predict(test_x)

        answer[f'{target[i]}_{s_index[j]}'] = pred
        # print(1.2*mean_absolute_error(pred,valid_y))
    print('-'*70)

for j in tqdm(range(len(data_c))):
    tar = data_c[j]
    train = tar[:8001]
    test = tar[10001:]

    # train_x = train.iloc[:8001,:30]
    # valid_x = train.iloc[8001:,:30]
    train_x = train.iloc[:,:33]
    test_x = test.iloc[:,:33]
    for i in range(4):
        print(f'{target[i]}_{c_index[j]}')
    #     train_y = train.loc[:8000,target[i]]
    #     valid_y = train.loc[8001:,target[i]]
        train_y = train.loc[:,target[i]]

        cat = RandomForestRegressor(random_state=77) # CatBoostRegressor(random_state=77,iterations=2000,learning_rate=0.001,loss_function='MAPE',verbose=1000)
        cat.fit(train_x,train_y)
        pred = cat.predict(test_x)

        answer[f'{target[i]}_{c_index[j]}'] = pred
        # print(1.2*mean_absolute_error(pred,valid_y))
    print('-'*70)

0it [00:00, ?it/s]
  0%|                                                                                            | 0/5 [00:00<?, ?it/s]

YL_M1_B1_W1_c30
YR_M1_B1_W1_c30

In [ ]:
answer

In [ ]:
pd.concat([pd.read_csv('./data/answer_sample.csv')['Distance'],answer],axis=1).to_csv('./answer.csv')