## Import

In [1]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\user\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: wheel in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (1.7.3)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
import gc

## 데이터 불러오기

In [12]:
train = pd.read_csv('C:/Users/User/Desktop/data/jeju/train.csv')
test = pd.read_csv('C:/Users/User/Desktop/data/jeju/test.csv')

In [21]:
train

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,1,17,0,1,106,지방도1112호선,0,0,...,3,제3교래교,33.427747,126.662612,0,제3교래교,33.427749,126.662335,0,52.0
1,TRAIN_0000001,20220728,1,21,0,2,103,일반국도11호선,0,0,...,0,광양사거리,33.500730,126.529107,1,KAL사거리,33.504811,126.526240,0,30.0
2,TRAIN_0000002,20211010,4,7,0,2,103,일반국도16호선,0,0,...,0,창고천교,33.279145,126.368598,0,상창육교,33.280072,126.362147,0,61.0
3,TRAIN_0000003,20220311,0,13,0,2,107,태평로,0,0,...,0,남양리조트,33.246081,126.567204,0,서현주택,33.245565,126.566228,0,20.0
4,TRAIN_0000004,20211005,6,8,0,2,103,일반국도12호선,0,0,...,0,애월샷시,33.462214,126.326551,0,애월입구,33.462677,126.330152,0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,TRAIN_4701212,20211104,1,16,0,1,107,-,0,0,...,0,대림사거리,33.422145,126.278125,0,금덕해운,33.420955,126.273750,0,20.0
4701213,TRAIN_4701213,20220331,1,2,0,2,107,-,0,0,...,3,광삼교,33.472505,126.424368,0,광삼교,33.472525,126.424890,0,65.0
4701214,TRAIN_4701214,20220613,3,22,0,2,103,일반국도12호선,0,0,...,0,고성교차로,33.447183,126.912579,0,성산교차로,33.444121,126.912948,0,30.0
4701215,TRAIN_4701215,20211020,2,2,0,2,103,일반국도95호선,0,0,...,0,제6광령교,33.443596,126.431817,0,관광대학입구,33.444996,126.433332,0,73.0
4701216,TRAIN_4701216,20211019,6,6,0,2,107,경찰로,0,0,...,0,서귀포경찰서,33.256785,126.508940,0,시민공원,33.257130,126.510364,0,35.0

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4701217 entries, 0 to 4701216
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   base_date              int64
 2   day_of_week            int32
 3   base_hour              int64
 4   road_in_use            int64
 5   lane_count             int64
 6   road_rating            int64
 7   road_name              object
 8   multi_linked           int64
 9   connect_code           int64
 10  maximum_speed_limit    float64
 11  vehicle_restricted     float64
 12  weight_restricted      float64
 13  height_restricted      float64
 14  road_type              int64
 15  start_node_name        object
 16  start_latitude         float64
 17  start_longitude        float64
 18  start_turn_restricted  int32
 19  end_node_name          object
 20  end_latitude           float64
 21  end_longitude          float64
 22  end_turn_restricted    int32
 23  target                 float64
dtypes: float64(9), int32(3), int64(8), object(4)
memory usage: 807.0+ MB

## 데이터 전처리

In [13]:
str_col = ['day_of_week','start_turn_restricted','end_turn_restricted']
for i in str_col:
    le = LabelEncoder()
    le=le.fit(train[i])
    train[i]=le.transform(train[i])
    
    for label in np.unique(test[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test[i]=le.transform(test[i])

In [14]:
y_train = train['target'] 

X_train = train.drop(['id','base_date', 'target','road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

test = test.drop(['id','base_date', 'road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

print(X_train.shape)
print(y_train.shape)
print(test.shape)

(4701217, 17)
(4701217,)
(291241, 17)

## 모델 선언 및 학습

In [15]:
LR = lgb.LGBMRegressor(random_state=42).fit(X_train, y_train)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
quad = PolynomialFeatures(degree=1) # ,include_bias=False

X = df.loc[:len(df)-1001,features]
y = df.loc[1:len(df)-1000,'Close']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

## 추론

In [16]:
pred = LR.predict(test)

## Submission

In [18]:
sample_submission = pd.read_csv('C:/Users/User/Desktop/data/jeju/sample_submission.csv')

In [19]:
sample_submission['target'] = pred
sample_submission.to_csv("./submit.csv", index = False)

In [20]:
sample_submission

                 id     target
0       TEST_000000  27.298710
1       TEST_000001  43.949243
2       TEST_000002  60.552621
3       TEST_000003  36.499322
4       TEST_000004  37.510570
...             ...        ...
291236  TEST_291236  45.902276
291237  TEST_291237  52.604831
291238  TEST_291238  21.964371
291239  TEST_291239  25.402628
291240  TEST_291240  41.406265

[291241 rows x 2 columns]