In [7]:
import pandas as pd
tp1 = pd.read_csv('./1.csv')
tp2 = pd.read_csv('./2.csv').drop('id',axis=1)
tp3 = pd.read_csv('./3.csv').drop('id',axis=1)

tp = pd.DataFrame()
tp['1'] = tp1['class']
tp['2'] = tp2['class']
tp['3'] = tp3['class']
tp

     1  2  3
0    A  A  A
1    B  B  B
2    C  C  C
3    B  B  B
4    A  A  A
..  .. .. ..
170  B  B  B
171  C  C  C
172  C  C  C
173  B  B  B
174  B  B  B

[175 rows x 3 columns]

In [9]:
tp[tp['1'] != tp['2']]

     1  2  3
12   B  C  C
19   B  C  B
122  B  C  B

In [10]:
tp[tp['1'] != tp['3']]

    1  2  3
12  B  C  C

In [20]:
train = pd.read_csv('../train.csv')

In [88]:
target = ['SNP_01', 'SNP_02',
       'SNP_03', 'SNP_04', 'SNP_05', 'SNP_06', 'SNP_07', 'SNP_08', 'SNP_09',
       'SNP_10', 'SNP_11', 'SNP_12', 'SNP_13', 'SNP_14', 'SNP_15']
ans = []
for i in range(len(train)):
    tp = ''
    for j in target:
        tp += train.loc[i,j]+' '
    ans.append(tp)

In [29]:
x = pd.DataFrame(ans)
x['class'] = train['class']
x

                                                     0 class
0    G G A G A A G A C A A A A A G G A A G G A G A ...     B
1    A G A G C A A A A A A G A A G A A A A G A A G ...     C
2    G G G G A A G A C C G G A A G A G A A G A A A ...     B
3    A A G G A A G A A A G G G G A A G G A G G G G ...     A
4    G G G G C C A A C C A A A A A A A A G G A A A ...     C
..                                                 ...   ...
257  A G A G A A G A C C A G A A G A A A G G A G G ...     B
258  G G A A C A A A A A A G G A G A A A A G A G A ...     C
259  A G G G A A G A A A A G G G G A G A A A G G G ...     A
260  A A G G A A G A A A G G G G A A G A A G A G G ...     A
261  G G A G C A G G C C A G A A A A A A G G A A A ...     B

[262 rows x 2 columns]

In [41]:
A = x[x['class']=='A'].drop_duplicates()
A

                                                     0 class
3    A A G G A A G A A A G G G G A A G G A G G G G ...     A
15   A A G G A A G G A A G G G G A A G G A G A G G ...     A
16   A A G G A A G G A A G G G G A A G A G G A G G ...     A
17   A G A G A A G G C A A G G A A A G A A G G G G ...     A
18   A A G G A A G A A A G G G G A A G A A A G G G ...     A
..                                                 ...   ...
248  A G G G A A G G A A G G G G A A G G A G G G G ...     A
250  A G G G A A G G A A G G G G A A G G A A G G G ...     A
253  A A G G A A G G A A G G G G G A G A A A G G A ...     A
259  A G G G A A G A A A A G G G G A G A A A G G G ...     A
260  A A G G A A G A A A G G G G A A G A A G A G G ...     A

[64 rows x 2 columns]

In [40]:
B = x[x['class']=='B'].drop_duplicates()
B

                                                     0 class
0    G G A G A A G A C A A A A A G G A A G G A G A ...     B
2    G G G G A A G A C C G G A A G A G A A G A A A ...     B
5    G G G G C A A A C C A A A A G A A A G G A A A ...     B
6    G G A G C A G A A A A G A A G G A A G G A G A ...     B
7    G G G G C C G A C C A A G A G A A A G G A A G ...     B
..                                                 ...   ...
254  A G A G C A A A C A A G A A G G A A G G A G G ...     B
255  A G G G C A G A C C A G G A G G A A G G G G A ...     B
256  G G G G C A G A C C A G A A G G A A G G A G G ...     B
257  A G A G A A G A C C A G A A G A A A G G A G G ...     B
261  G G A G C A G G C C A G A A A A A A G G A A A ...     B

[113 rows x 2 columns]

In [63]:
C= x[x['class']=='C'].drop_duplicates()
C

                                                     0 class
1    A G A G C A A A A A A G A A G A A A A G A A G ...     C
4    G G G G C C A A C C A A A A A A A A G G A A A ...     C
9    G G G G C A A A C C A G A A G G A A A G A G A ...     C
12   G G A G C C A A A A A G A A G A A A G G A A A ...     C
13   A G A A C A G A A A G G A A A A A A A A A A A ...     C
..                                                 ...   ...
238  A G A G C C A A A A A G A A G A A A A G A A A ...     C
241  A G A G A A A A A A A G G A G A A A A G A G A ...     C
242  G G A G C A A A C A A G A A G A A A A G A A A ...     C
251  G G A A C C A A A A A A A A G G A A G G A G G ...     C
258  G G A A C A A A A A A G G A G A A A A G A G A ...     C

[79 rows x 2 columns]

In [74]:
cnt = 0
for i in list(A.loc[:,0]):
    if i in list(C.loc[:,0]):
        cnt += 1
cnt

0

In [104]:
test = pd.read_csv('../test.csv')
target = ['SNP_01', 'SNP_02',
       'SNP_03', 'SNP_04', 'SNP_05', 'SNP_06', 'SNP_07', 'SNP_08', 'SNP_09',
       'SNP_10', 'SNP_11', 'SNP_12', 'SNP_13', 'SNP_14', 'SNP_15']
ans = []
for i in range(len(test)):
    tp = ''
    for j in target:
        tp += test.loc[i,j]+' '
    ans.append(tp)
y = pd.DataFrame(ans)
test

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
0,TEST_000,0,0,0,1,A G,G G,A A,G A,A A,A G,G G,G A,G A,A G,A G,G A,G G,C A,G A
1,TEST_001,0,0,0,2,G G,A G,C C,G G,C C,A A,A A,A A,A A,G G,A G,A A,A A,A A,A A
2,TEST_002,0,0,0,2,G G,A G,A A,A A,C A,A G,A A,A A,A A,A G,A A,G A,G G,A A,G G
3,TEST_003,0,0,0,2,G G,A G,C A,A A,C C,A A,A A,A A,A A,G G,A A,G A,A G,A A,A A
4,TEST_004,0,0,0,1,A A,G G,A A,G G,A A,G G,G G,A A,G G,A G,G G,G A,G G,A A,G G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,TEST_170,0,0,0,2,A G,G G,C C,A A,C A,A G,A A,G G,A A,G G,G G,A A,A A,A A,G A
171,TEST_171,0,0,0,2,G G,A A,A A,A A,C A,A G,A A,A A,A A,A G,A A,A A,A G,A A,G A
172,TEST_172,0,0,0,2,G G,A A,A A,A A,C A,A G,A A,A A,A A,G G,A G,A A,A G,A A,G G
173,TEST_173,0,0,0,2,A G,G G,C A,G A,C C,G G,A A,G A,A A,G G,A G,A A,A A,A A,A A
174,TEST_174,0,0,0,2,G G,G G,C C,G A,C A,A A,G A,G G,A A,G G,G G,A A,A A,A A,A A

In [86]:
cnt = 0
erase = []
for i in list(y.loc[:,0]):
    if i in list(A.loc[:,0]):
        erase.append(i)
    elif i in list(B.loc[:,0]):
        erase.append(i)
    elif i in list(C.loc[:,0]):
        erase.append(i)
erase

['A A G G A A G G A A G G G G A A G G A A G G G G G G C A G G ',
 'G G G G C C G A C C A G G A G G A A G G A G A A A G A A G A ',
 'A G G G C A G A C C A G G A G G A A G G G G A A A A A A G A ',
 'A G G G A A G G A A G G G G A A G G A A G G G G G G C C G A ',
 'G G G G A A G G A A G G G G A A G G A A G G G G G G C A G G ',
 'G G A G A A G A C C A G A A G A A A G G G G A A A A A A A A ',
 'A A G G A A G A A A G G G G A A G A A A G G G A G G C A G G ',
 'A A G G A A G G A A G G G G A A G A A G G G G A G G C A G G ',
 'G G G G C A G A C C A G G A G G A A G G A G A A A A A A G A ',
 'G G G G A A G G A A G G G G A A G A A A G G G G G G C C G A ',
 'A A G G A A G A A A G G G G A A G A A A G G G G G G C A G G ']

In [87]:
train

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,0,0,0,2,A G,A G,A A,G A,C C,...,A A,G A,A A,G G,A G,G A,A A,A A,A A,B
258,TRAIN_258,0,0,0,2,G G,A A,C A,A A,A A,...,G A,G A,A A,A G,A G,A A,A G,A A,G A,C
259,TRAIN_259,0,0,0,1,A G,G G,A A,G A,A A,...,G G,G A,G A,A A,G G,G G,G G,C A,G G,A
260,TRAIN_260,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G A,A G,A G,G A,G G,C A,G G,A
261,TRAIN_261,0,0,0,2,G G,A G,C A,G G,C C,...,A A,A A,A A,G G,A A,A A,G G,A A,G A,B

In [93]:
for i in range(len(ans)):
    if ans[i] in erase:
        ans[i] = ''
train['concat'] = ans
train

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class,concat
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,G G,A A,G G,A G,A A,A A,A A,A A,B,G G A G A A G A C A A A A A G G A A G G A G A ...
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,G A,A A,A G,A A,G A,G G,A A,A A,C,A G A G C A A A A A A G A A G A A A A G A A G ...
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,G A,G A,A G,A A,A A,A A,A A,A A,B,G G G G A A G A C C G G A A G A G A A G A A A ...
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,A A,G G,A G,G G,G G,G G,A A,G G,A,A A G G A A G A A A G G G G A A G G A G G G G ...
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,G G,A A,A A,A G,A A,G A,C,G G G G C C A A C C A A A A A A A A G G A A A ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,0,0,0,2,A G,A G,A A,G A,C C,...,G A,A A,G G,A G,G A,A A,A A,A A,B,A G A G A A G A C C A G A A G A A A G G A G G ...
258,TRAIN_258,0,0,0,2,G G,A A,C A,A A,A A,...,G A,A A,A G,A G,A A,A G,A A,G A,C,G G A A C A A A A A A G G A G A A A A G A G A ...
259,TRAIN_259,0,0,0,1,A G,G G,A A,G A,A A,...,G A,G A,A A,G G,G G,G G,C A,G G,A,A G G G A A G A A A A G G G G A G A A A G G G ...
260,TRAIN_260,0,0,0,1,A A,G G,A A,G A,A A,...,A A,G A,A G,A G,G A,G G,C A,G G,A,A A G G A A G A A A G G G G A A G A A G A G G ...
261,TRAIN_261,0,0,0,2,G G,A G,C A,G G,C C,...,A A,A A,G G,A A,A A,G G,A A,G A,B,G G A G C A G G C C A G A A A A A A G G A A A ...

In [96]:
train[train['concat'] != ''].drop('concat',axis=1).to_csv('./erase_target.csv')

In [105]:
for i in range(len(ans)):
    if ans[i] in erase:
        ans[i] = ''
test['concat'] = ans
test

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,concat
0,TEST_000,0,0,0,1,A G,G G,A A,G A,A A,...,G G,G A,G A,A G,A G,G A,G G,C A,G A,A G G G A A G A A A A G G G G A G A A G A G G ...
1,TEST_001,0,0,0,2,G G,A G,C C,G G,C C,...,A A,A A,A A,G G,A G,A A,A A,A A,A A,G G A G C C G G C C A A A A A A A A G G A G A ...
2,TEST_002,0,0,0,2,G G,A G,A A,A A,C A,...,A A,A A,A A,A G,A A,G A,G G,A A,G G,G G A G A A A A C A A G A A A A A A A G A A G ...
3,TEST_003,0,0,0,2,G G,A G,C A,A A,C C,...,A A,A A,A A,G G,A A,G A,A G,A A,A A,G G A G C A A A C C A A A A A A A A G G A A G ...
4,TEST_004,0,0,0,1,A A,G G,A A,G G,A A,...,G G,A A,G G,A G,G G,G A,G G,A A,G G,A A G G A A G G A A G G G G A A G G A G G G G ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,TEST_170,0,0,0,2,A G,G G,C C,A A,C A,...,A A,G G,A A,G G,G G,A A,A A,A A,G A,A G G G C C A A C A A G A A G G A A G G G G A ...
171,TEST_171,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,A G,A A,A A,A G,A A,G A,G G A A A A A A C A A G A A A A A A A G A A A ...
172,TEST_172,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,G G,A G,A A,A G,A A,G G,G G A A A A A A C A A G A A A A A A G G A G A ...
173,TEST_173,0,0,0,2,A G,G G,C A,G A,C C,...,A A,G A,A A,G G,A G,A A,A A,A A,A A,A G G G C A G A C C G G A A G A A A G G A G A ...
174,TEST_174,0,0,0,2,G G,G G,C C,G A,C A,...,G A,G G,A A,G G,G G,A A,A A,A A,A A,G G G G C C G A C A A A G A G G A A G G G G A ...

In [106]:
test[test['concat'] != '']

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,concat
0,TEST_000,0,0,0,1,A G,G G,A A,G A,A A,...,G G,G A,G A,A G,A G,G A,G G,C A,G A,A G G G A A G A A A A G G G G A G A A G A G G ...
1,TEST_001,0,0,0,2,G G,A G,C C,G G,C C,...,A A,A A,A A,G G,A G,A A,A A,A A,A A,G G A G C C G G C C A A A A A A A A G G A G A ...
2,TEST_002,0,0,0,2,G G,A G,A A,A A,C A,...,A A,A A,A A,A G,A A,G A,G G,A A,G G,G G A G A A A A C A A G A A A A A A A G A A G ...
3,TEST_003,0,0,0,2,G G,A G,C A,A A,C C,...,A A,A A,A A,G G,A A,G A,A G,A A,A A,G G A G C A A A C C A A A A A A A A G G A A G ...
4,TEST_004,0,0,0,1,A A,G G,A A,G G,A A,...,G G,A A,G G,A G,G G,G A,G G,A A,G G,A A G G A A G G A A G G G G A A G G A G G G G ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,TEST_170,0,0,0,2,A G,G G,C C,A A,C A,...,A A,G G,A A,G G,G G,A A,A A,A A,G A,A G G G C C A A C A A G A A G G A A G G G G A ...
171,TEST_171,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,A G,A A,A A,A G,A A,G A,G G A A A A A A C A A G A A A A A A A G A A A ...
172,TEST_172,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,G G,A G,A A,A G,A A,G G,G G A A A A A A C A A G A A A A A A G G A G A ...
173,TEST_173,0,0,0,2,A G,G G,C A,G A,C C,...,A A,G A,A A,G G,A G,A A,A A,A A,A A,A G G G C A G A C C G G A A G A A A G G A G A ...
174,TEST_174,0,0,0,2,G G,G G,C C,G A,C A,...,G A,G G,A A,G G,G G,A A,A A,A A,A A,G G G G C C G A C A A A G A G G A A G G G G A ...

In [107]:
test[test['concat'] != ''].drop('concat',axis=1).to_csv('./erase_test.csv')