In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('./train.csv').drop('id',axis=1)
origin = pd.read_csv('./archive/train__dataset.csv')
test = pd.read_csv('./test.csv').drop('id',axis=1)
# origin_test = pd.read_csv('./archive/train__dataset.csv')

In [3]:
print(test.columns)
print(len(test))

Index(['no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests'],
      dtype='object')
28068

In [6]:
train = pd.concat([train,origin],axis=0).drop_duplicates().reset_index(drop=True)
train

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54568,2,0,1,1,2,0,0,35,2018,10,15,1,0,0,0,148.60,2,0
54569,2,0,0,5,0,0,0,205,2018,7,26,1,0,0,0,70.03,1,1
54570,2,0,0,1,0,0,0,90,2018,7,13,1,0,0,0,105.30,0,1
54571,2,0,0,3,0,0,0,18,2018,11,10,1,1,0,1,123.33,1,0
54572,1,0,1,1,0,0,0,159,2018,4,9,0,0,0,0,65.00,0,0

In [27]:
train[train['avg_price_per_room'] > 200]['booking_status'].value_counts()

0    500
1    433
Name: booking_status, dtype: int64